################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/build
/build-ng
/build-test

/cmake
.gitignore
.gitattributes
CMakeLists.txt
CMakePresets.json
vcpkg.json

/extern
/github